.section-container {
  height: 100%;
  width: 100%;
  border: .1rem solid skyblue;
  border-radius: .4rem;
  
}

.card {
  padding: .5rem;
}

.feature-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}