.navbar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: .2rem;
  display: flex;
  flex-direction: column;
}

.navbar li {
  color: black;
  
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.navbar li:hover {
  background-color: #8ed7ee;
}

@media (max-width: 768px) {

  .navbar {
    background-color: white;
    height: 100vh; /* Full height of the viewport */
    width: 25%;
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    /* border: .1rem solid skyblue;
    border-radius: .5rem; */
  }
  
}


