.display-container {
    min-height: 50vh;
    width: 80%;
    border: .1rem solid navy;
    border-radius: .4rem;
    position: relative;
    top: 0;
    left: 20%;
    margin-top: .5rem;
    gap: .3rem;
    padding: .2rem;
  }


  @media (max-width: 768px) {

    .display-container {
    width: 70%;
      left: 30%;
      
    }
    
  }